body {
    height: 100vh;
    margin: 0px;
}

form{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 700px;

}

/* .form-group{
} */

@media (min-width:600px) {

    #container {

        width: 300px;

    }

}

@media screen and (min-width:445px) and (max-width:600px) {
    #container {
        max-width: 50%;
    }
}


@media (max-width:445px) {

    #container {

        max-width: 70%;

    }

}